// Place all the styles related to the Attendance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-flex{
  padding: 4% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.modal-flex > *{
  margin: 3px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.attendance-text-label {
  font-size: 16px;
  text-align: center;
  line-height: 2;
  letter-spacing: 0.05em;
}

.attendance-time-label {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.date-str {
  font-size: 16px;
  text-align: center;
  line-height: 2;
  letter-spacing: 0.05em;
}

.attendance-text-edit {
  padding: 4% 0;
  letter-spacing: 0.05em;
}

.form-control.year {
  display:none;
}

.form-control.month {
  display:none;
}

.form-control.day {
  display:none;
}