// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-text-label {
  font-size: 30px;
  letter-spacing: 0.05em;
  padding: 0px 10px 10px 10px;
}


